@import "tailwindcss";

/* LIGHT MODE */
:root {
  --bg: #ffffff;
  --fg: #171717;
  --border: #e5e7eb;
  --card: #f9fafb;
}

/* DARK MODE */
html.dark {
  --bg: #0a0a0a;
  --fg: #ededed;
  --border: #374151;
  --card: #1f2933;
}

body {
  background-color: var(--bg);
  color: var(--fg);
}
